<p>意見を投稿したユーザ<p>
<br>
<%- @attendees.each do |attendee| -%>
  <ul class = attendees>
    <li>
      <%= image_tag(attendee.profile_image_url, :size => "23x23")%>
      @<%= attendee.user%>
    </li>
  </ul>
  <br>
<%- end -%>

<p>@doshisha_nowをフォローしているユーザ</p><br>
<%- @followers.each do |follower|-%>
  <ul class = followers>
    <li>
      <%= image_tag(follower[:profile_image_url], :size => "25x25")%>
      @<%= follower[:screen_name]%>
    </li>
  </ul>
<%- end -%>
