* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  font-size: 12px;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 12px;
}

h3 {
  width: 100px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#main,
#header,
#footer,
#topbar {
  width: 920px;
  margin: 0 auto;
}

#header,
#footer {
  text-align: center;
}

#topbar-outer {
  background-color: #AEE1FA;
}
#topbar {
  padding: 5px 0;
  margin-bottom: 20px;
  text-align: right;
}

#header {
  margin-bottom: 30px;
}

#footer {
  margin-top: 30px;
}


#main {
  padding: 20px;
  border-radius: 10px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 10px;
  background-color: #eee;
}

.tweets {
  margin-bottom: 30px;
}
