* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

#main,
#header,
#footer {
  width: 960px;
  margin: 0 auto;
}

.tweets {
  margin-bottom: 30px;
}

#header,
#footer {
  text-align: center;
  background-color: #ccc;
}
