<!DOCTYPE html>
<html>
<head>
  <title>Eden</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    へっだー
  </div>

  <div id="main">
    <%= yield %>
  </div>

  <div id="footer">
    &#169;2010 gakuweb.com all rights reserved    
  </div>
</body>
</html>
